# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# WDIO logs & reports
logs/
reports/
allure-results/
allure-report/

# Test artifacts
screenshots/
videos/

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/

# Build output
dist/
build/

# Coverage
coverage/
